<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div *ngFor = "let testiInfo of testiData" class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>{{testiInfo.name}}</h3>
              <h4>{{testiInfo.position}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               {{testiInfo.para}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

         <!--<div class="swiper-slide">
            <!--<div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>{{testiData.testi3h}}</h3>
              <h4>{{testiData.testi4h}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{testiData.testi2p}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div> -->
          
          <!-- End testimonial item -->

         <!-- <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>{{testiData.testi5h}}</h3>
              <h4>{{testiData.testi6h}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               {{testiData.testi3p}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item --> -->

          <!--<div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>{{testiData.testi7h}}</h3>
              <h4>{{testiData.testi8h}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               {{testiData.testi4p}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item --> -->

         <!--<div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>{{testiData.testi9h}}</h3>
              <h4>{{testiData.testi10h}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{testiData.testi5p}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->-->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

