<!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>{{heroData.heroh}}<span>{{heroData.herobz}}</span></h1>
      <h2>{{heroData.hero2h}}</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">{{heroData.heroget}}</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>{{heroData.watch}}</span></a>
      </div>
    </div>
  </section><!-- End Hero -->