<app-header></app-header>
<app-hero [heroData] = "heroData"></app-hero>
<main id="main">
  <app-services [servData] = "servData"></app-services>
  <app-about ></app-about>
  <app-skills [skillData] ="skillData"></app-skills>
  <app-counts [countData] = "countData"></app-counts>

  <app-clients></app-clients>
  <app-services2></app-services2>

  <app-testimonials></app-testimonials>
  <app-portfolio [portData] = "portData"></app-portfolio>

  <app-teams [teamData] = "teamData"></app-teams>
  <app-pricing [priceData] = "priceData"></app-pricing>
  <app-faq [faqData] ="faqData" ></app-faq>
  <app-contacts [contactData] = "contactData"></app-contacts>
</main>
<!-- End #main -->
<app-footer [footerData]="footerData"></app-footer>
